<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
       
        <li >
          <a routerLink="/admin/dashboard"  > Dashboard </a>


        </li>

        <li >
          <a routerLink="/admin/recette" >Recette</a>


        </li>
        <li >
          <a routerLink="/admin/users" >  Utilisateur </a>

        </li>


        <li >
          <a routerLink="Classes"> Login  </a>

        </li>





        <li>
          <a routerLink="/Admin/liste"> Logout </a>
        </li>









      </ul>
    </div>
  </div>

</div>
